@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kurale&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
/*COLORES*/
/*MARGENES*/
/*ALINEACIONES*/
/*MAP DE TIPOGRAFIAS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("../assets/img/madera.png");
  background-repeat: no-repeat;
  background-attachment: fixed; }

.contenedorGrid {
  display: grid;
  grid-template-areas: "nav nav nav" "header header header" "main main aside" "main main aside" "footer footer footer"; }

nav {
  grid-area: nav;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 2%;
  text-align: center; }
  nav .imagen__nav {
    width: 12%;
    border: solid 1px black;
    border-radius: 50%;
    margin-right: 30%; }

.transicion__img {
  animation-name: girarImg;
  animation-duration: 3s; }

nav ul li {
  margin-left: 5%;
  list-style: none;
  padding: 2%;
  font-weight: bold;
  font-family: "kurale"; }
  nav ul li a {
    text-decoration: double;
    color: black; }

.subrayado:hover {
  border-bottom: 3px solid #ff8585; }

header {
  grid-area: header;
  text-align: center;
  height: 20%; }
  header .slogan {
    margin: 1%;
    margin-bottom: 5%;
    font-family: "Raleway";
    animation-duration: 3s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in; }
  header .carrusel {
    width: 60%;
    margin: 2% 20%; }

main {
  grid-area: main; }
  main .separador {
    display: flex; }
    main .separador .articuloUno, main .separador .articuloDos {
      width: 50%;
      margin: 5%;
      padding: 10px;
      text-align: center;
      background-color: #ecfca7; }
      main .separador .articuloUno:hover, main .separador .articuloDos:hover {
        transition: 2s;
        transform: scale(1.2);
        background-color: #e9f727; }
      main .separador .articuloUno .articuloUno__titulo, main .separador .articuloDos .articuloUno__titulo, main .separador .articuloDos .articuloDos__titulo {
        text-align: center;
        margin: 2%;
        font-family: "Raleway"; }
      main .separador .articuloUno .articuloUno__titulo__anclaje, main .separador .articuloDos .articuloUno__titulo__anclaje, main .separador .articuloDos .articuloDos__titulo__anclaje {
        text-decoration: double;
        color: black; }
      main .separador .articuloUno .articuloUno__foto, main .separador .articuloDos .articuloUno__foto {
        width: 90%;
        margin: 2%; }
    main .separador .articuloDos:hover {
      transition: 2s;
      transform: scale(1.2);
      background-color: #e9f727; }
    main .separador .articuloDos .articuloDos__foto {
      width: 90%;
      margin: 14% 2% 0 2%; }
  main .articuloTres {
    width: 96%;
    margin: 2%;
    padding: 2%;
    text-align: center; }
    main .articuloTres .articuloTres__titulo {
      font-family: "Raleway";
      margin: 2%; }
    main .articuloTres .articuloTres__foto {
      width: 30%;
      margin: 2%; }
    main .articuloTres .articuloTres__parrafo {
      font-family: "Merriweather";
      margin: 1%; }

/*ESTILOS PARA LA BARRA LATERAL*/
aside {
  grid-area: aside;
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 5%; }
  aside .barraLateral {
    text-align: center; }
    aside .barraLateral .marco {
      width: 90%;
      padding: 1%;
      background-color: #f5e9c4;
      font-weight: bolder;
      font-family: "Open Sans";
      border: 1px solid black; }
      aside .barraLateral .marco legend {
        text-align: start; }

.separadorBotones {
  margin: 10%; }

.subrayado__input {
  border: none; }

.subrayado__input:hover {
  border-bottom: 2px solid black; }

/*ESTILO PARA EL FOOTER*/
footer {
  grid-area: footer;
  background-color: #554e4e;
  text-align: center;
  padding: 30px;
  font-family: "kurale";
  font-weight: bolder;
  color: white; }

/*ESTILOS PARA LA PÁGINA DE ENVÍOS*/
.mainEnvios {
  display: flex; }
  .mainEnvios .mainEnvios__divisor {
    width: 50%;
    background-color: #664da1;
    color: white;
    text-align: start;
    padding: 12%; }
    .mainEnvios .mainEnvios__divisor .mainEnvios__divisor__titulo {
      border-top: solid 2px #e9f727;
      padding: 5% 0; }
    .mainEnvios .mainEnvios__divisor .mainEnvios__divisor__card {
      display: inline-flex;
      justify-content: center;
      align-items: center; }
      .mainEnvios .mainEnvios__divisor .mainEnvios__divisor__card .mainEnvios__divisor__card__img {
        width: 30%;
        margin: 10%; }
  .mainEnvios .mainEnvios__img {
    width: 50%; }

/*ESTILO PARA LA PÁGINA "CONTACTO" */
.main__contacto {
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main__contacto .main__contacto__div {
    margin: 0 2%;
    padding: 4%;
    width: 95%;
    border-top: 3px solid #d68d06;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main__contacto .main__contacto__div .main__contacto__divisor {
      display: flex;
      width: 100%;
      align-items: center; }
      .main__contacto .main__contacto__div .main__contacto__divisor .main__contacto__img {
        width: 10%;
        margin: 15px; }
      .main__contacto .main__contacto__div .main__contacto__divisor .main__contacto__titulo {
        margin: 20px 0; }
  .main__contacto .main__contacto__fieldset {
    border: 1px solid #d68d06;
    width: 75%;
    padding: 2%;
    background-color: rgba(255, 184, 91, 0.363);
    margin: 2% 0; }

/*ESTILOS PARA LA PÁGINA COMBOS*/
.mainCombos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .mainCombos .main__articulo {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #d68d06;
    border-radius: 25%;
    margin: 2%;
    padding: 2% 0;
    background-color: rgba(255, 184, 91, 0.363); }
    .mainCombos .main__articulo .main__articulo__titulo {
      text-align: center;
      border-bottom: 1px solid black; }
    .mainCombos .main__articulo .main__articulo__img {
      width: 30%;
      margin: 5% 0; }

/*EFECTO PARA LAS CARD DE LA PÁGINA PRODUCTOS*/
.zoom__card:hover {
  transition: 0.5s;
  transform: scale(1.08); }

/*EFECTO PARA QUE GIRE EL LOGO*/
@keyframes girarImg {
  0% {
    rotate: 0px; }
  100% {
    rotate: 360deg; } }

/*CONTENEDOR PARA PÁGINA DE PRODUCTOS*/
@media screen and (max-width: 768px) {
  .contenedorGrid {
    grid-template-areas: "nav" "header" "main" "aside" "footer"; }
  .imagen__nav {
    width: 20%; }
  /*MEDIAS QUARIES PARA PÁGINA ENVÍOS*/
  .mainEnvios {
    display: block; }
    .mainEnvios .mainEnvios__divisor {
      width: 100%; }
    .mainEnvios .mainEnvios__img {
      width: 100%; }
  /*MEDIAS QUARIES PARA PÁGINA CONTACTO*/
  .main__contacto__div {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
  .main__contacto__divisor {
    justify-content: center; }
  /*MEDIAS QUARIES PARA PÁGINA COMBOS*/
  .mainCombos {
    flex-direction: column;
    align-items: center; }
    .mainCombos .main__articulo {
      width: 80%; } }
